.container {
	margin-top: 10px;
	margin-bottom: 10px;
}

.cmp-user-list {
	height: 315px;
	overflow-y: scroll;
	overflow-x: hidden;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.cmp-user-list .table-bordered {
	border-top: 0;
	border-bottom: 0;
}

.cmp-user-list tbody tr {
	cursor: pointer;
}

.cmp-user-data .nav-tabs {
	margin: 20px 0 0 0 !important;
}

.cmp-user-data .tab-pane {
	padding-top: 20px;
	min-height: 300px;
}