
html {   background: #e6e6e6; border:0px;   color: #000; }
#main_login {  width: 50%; min-width: 200px; height: 100%; margin:0 auto; padding:0 2% 2% 2%; background: #f2f2f2; margin: 0 auto;}
	
#main_login *, input {transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -o-transition: all .5s;}

fieldset { 	border:0px; }


h1 {
display: block;
font-size: 2em;
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;

 margin-bottom: 1.5%;
 
}

.error{
color: #AB0E15;	
}

