@CHARSET "UTF-8";

/* 1. Reset */
/* 2. Main */
/* 3. Navigation */
/* 4. Forms */
/* 5. Menus */
/* 6. Data-Table */
/* 7. Tabs */
/* 8. Dialogs */
/* 9. Breakpoints */

/* ################## START:RESET ################## */

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend, button,
	input, input[type="search"], input[type="file"], select,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%; /* 16px */
		font: inherit;
		background: none;
		vertical-align: baseline;
	}
	:focus {
		outline: 0;
	}
	html {
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
	body {
		line-height: 1;
	}
	hr {
		display: none;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	input {
		-webkit-appearance: none;
	}
	input[type=search] {
		-webkit-appearance: textfield;
	}
	input[type=search]::-webkit-search-cancel-button {
		display: none;
	}	
	/* HTML5 */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}	
	
/* ################## END:RESET ################## */


/* ################## START:MAIN ################## */
	
	/* body */
	html {background: #e6e6e6;}
	body {font-family: 'OpenSansLight', arial; color: #000;}
	#standard {width: 76%; height: 100%; margin:0 auto; padding:0 2% 2% 2%; background: #f2f2f2;}
	#standard *, input {transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -o-transition: all .5s;}
	#ajax {background: url('../images/ajax.gif') no-repeat center 20%; position: absolute; height: 100%; width: 100%;}

	/* font-face */
	@font-face {font-family: OpenSansLight; src: url('../fonts/fonts-opensans-light.ttf'), url('../fonts/fonts-opensans-light.eot');}
	@font-face {font-family: OpenSansRegular; src: url('../fonts/fonts-opensans-regular.ttf'), url('../fonts/fonts-opensans-regular.eot');}

	/* fonts */
	h1 {font-size: 1.5em; margin-bottom: 1.5%; font-family: 'OpenSansRegular', arial;}
	h1 span {font-family: 'OpenSansLight', arial; color: #666;}
	a {color: #000; text-decoration: none;}
	input {font-family: 'OpenSansLight', arial;}
	strong {font-family: 'OpenSansRegular', arial;}
	table tbody {font-family: 'OpenSansLight', arial;}
	label {font-family: 'OpenSansRegular', arial;}
	em {font-style: italic;}
	button {padding: 1%; margin-right: 0.5%; font-family: 'OpenSansRegular', arial; cursor: pointer;}
	
	/* generic */
	.clear {clear: both;}
	.green {color: #2b6614;} 
	.red {color: #d10000;}
	.width20 {width: 20%;}
	.width30 {width: 30%;}
	.width40 {width: 40%;}
	.width50 {width: 50%;}
	.width60 {width: 60%;}
	
	@media only screen and (max-width : 550px) {
		h1 {font-size: 1.2em; margin-bottom: 2%;}
		button {padding: 2%;}
	}
	
	@media only screen and (max-width : 300px) {
		h1 {font-size: 1em;}
	}

/* ################## END:MAIN ################## */


/* ################## START:NAVIGATION ################## */

	/* #navigation */
	nav#navigation {position: fixed; width: 76%; margin-bottom: 2%; background: #f2f2f2; z-index: 10; font-size: 1em; font-family: 'OpenSansLight', arial;}
	nav#navigation ul li#responsive-navigation {display: none;}
	nav#navigation div {float: left; width: 100%; padding: 1.5% 0 1.5% 0; border-bottom: solid 1px #666;}
	nav#navigation div ul.application li {float: left; margin-right: 2%;}
	nav#navigation div ul.application li a {width: 100%;}
	nav#navigation div ul.function li {float: right; margin-left: 2%;}
	nav#navigation div ul li a:hover {text-decoration: underline;}
	nav#navigation ul.primary {display: block; float: left; width: 100%; line-height: 2.5em; box-shadow: 0 20px 10px -2px #f2f2f2; font-family: 'OpenSansRegular', arial;}
	nav#navigation ul.primary li {float: left; width: 16.66666666666667%; height: 100%; text-align: center;}
	nav#navigation ul.primary li a {float: left; width: 100%; background: #fff;}	
	nav#navigation ul.primary li a:hover {background: #999; color: #fff;}
	nav#navigation ul.primary li a.selected {background: #666; color: #fff;}
	
	@media only screen and (max-width : 750px) {
		nav#navigation {width: 92%;}
	}
	
	@media only screen and (max-width : 550px) {
		nav#navigation div {box-shadow: 0 20px 10px -2px #f2f2f2;}
		nav#navigation div ul.application li a span {display: none;}
		nav#navigation ul li#responsive-navigation {display: block;}
		nav#navigation ul.primary {display: none; border-bottom: solid 1px #666;}
		nav#navigation ul.primary li {width: 50%;}	
	}
	
	@media only screen and (max-width : 300px) {
		nav#navigation ul.primary li {width: 100%;}
	}
		
/* ################## END:NAVIGATION ################## */


/* ################## START:FORMS ################## */

	form fieldset div {float: left; width: 100%; margin-bottom: 1%;}
	form fieldset div label {float: left; width: 100%; margin-bottom: 1%;}
	form fieldset div label i {font-size: .9em; color: #666;}
	form fieldset div span {float: left; width: 100%; margin-top: 1%; font-family: 'OpenSansRegular', arial;}
	
	/* inputs */
	form fieldset div input[type="text"],
	form fieldset div input[type="email"],
	form fieldset div input[type="date"],
	form fieldset div input[type="number"],
	form fieldset div input[type="file"] {float: left; width: 98%; padding: 1%; background: #e6e6e6; border-bottom: solid 1px #999999; color: #000;}
	
	form fieldset div input[type='text']:hover,
	form fieldset div input[type='email']:hover,
	form fieldset div input[type='date']:hover,
	form fieldset div input[type='number']:hover {border-bottom: solid 1px #000;}
	
	form fieldset div input[type='text']:focus,
	form fieldset div input[type='email']:focus,
	form fieldset div input[type='date']:focus,
	form fieldset div input[type='number']:focus {width: 97%; padding-left: 2%;}

	form fieldset div input[type="text"]:disabled,
	form fieldset div input[type="email"]:disabled,
	form fieldset div input[type="date"]:disabled,
	form fieldset div input[type="number"]:disabled {border-bottom: solid 1px #e6e6e6; color: #999999;}
	
	form fieldset div select {float: left; width: 100%; padding: 1% .5% 1% .5%; font-family: 'OpenSansLight', arial; color: #000; border-bottom: solid 1px #999999; background: #e6e6e6;}
	form fieldset div select:hover,
	form fieldset div select:focus {border-bottom: solid 1px #000;}

	form fieldset div label.radio {padding: 1.5% 0 1.5% 0; font-family: 'OpenSansLight', arial; color: #000; border-bottom: solid 1px #fff; cursor: pointer;}
	form fieldset div label.checked {background: #e6e6e6; border-bottom: solid 1px #999999;}
	form fieldset div label.checked:hover {border-bottom: solid 1px #000;}
	
	/* buttons */
	.btn-primary {background: #666; color: #fff; font-family: 'OpenSansRegular', arial; cursor: pointer;}
	.btn-primary:hover {background: #999999}
	.btn-secondary {background: #e6e6e6; color: #666; font-family: 'OpenSansRegular', arial; cursor: pointer;}
	.btn-secondary:hover {background: #f2f2f2}
	
	@media only screen and (max-width : 550px) {
		form fieldset div input[type="text"],
		form fieldset div input[type="email"],
		form fieldset div input[type="date"],
		form fieldset div input[type="number"],
		form fieldset div input[type="file"] {width: 97%; padding: 1.5%;}
	}	

/* ################## END:FORMS ################## */


/* ################## END:MENUS ################## */

	fieldset.menu {width: 98%; padding: 1%; background: #fff;}
	fieldset.menu div {float: left; width: 50%;}
	fieldset.menu div input[type='search'] {float: left; width: 98%; padding: 1%; background: #e6e6e6; border-bottom: solid 1px #999999;}
	fieldset.menu div input[type='search']:hover {border-bottom: solid 1px #000;}
	fieldset.menu div input[type='search']:focus {width: 97%; padding-left: 2%;}
	
/* ################## END:MENUS ################## */


/* ################## START:DATA-TABLE ################## */

	div.table {float: left; padding: 1% 1% 0 1%; width: 98%; margin: 1% 0 2.5% 0; background: #fff;}
	div.table table {width: 100%; table-layout: fixed; font-family: 'OpenSansRegular', arial; font-size: 1em;}
	div.table table thead tr th {text-align: left; padding: 1% 0 1% 0; background: #666; color: #fff; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
	div.table table tbody tr {cursor: pointer;}
	div.table table tbody tr.selected {background: #b7dbff}
	div.table div table tbody tr td {vertical-align: middle; padding: 1% 0 1% 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
	div.table div table tbody tr td a {text-decoration: underline;}
	div.table div table tbody tr:hover:not(.selected) {background: #f2f2f2;}
	div.table div.resizeable {width:100%; height: 230px; overflow: hidden; position: relative;}
	div.table div.resizeable .ui-resizable-s {height: 20px; color: #666666; cursor: s-resize; text-align: center; font-family: arial; font-size: 1em; font-weight: bold;}
	div.table div.resizeable div.scrollable {position: absolute; top: 0; bottom: 4px; left: 0; right: 0; overflow-y: auto; overflow-x: hidden; -webkit-overflow-scrolling: touch;}
	
	@media only screen and (max-width : 550px) {
		div.table table thead tr th {padding: 2% 0 2% 0;}
		div.table div table tbody tr td {padding: 2% 0 2% 0;}
	}
	
	@media only screen and (max-width : 300px) {
		div.table table thead tr th {padding: 3% 0 3% 0;}
		div.table div table tbody tr td {padding: 3% 0 3% 0;}
	}
	
/* ################## END:DATA-TABLE ################## */


/* ################## START:TABS ################## */
	
	/* tabs */
	div.tabs {float: left; width: 98%; min-height: 40px; padding: 1%; background: #fff; font-size: 1em;}
	div.tabs ul.tab {float: left; width: 100%; height: 20%; background: #f2f2f2;}
	div.tabs ul.tab li {float: left; width: 25%; height: 100%; text-align: center;}
	div.tabs ul.tab li a {float: left; width: 100%; height: 88%; padding: 6% 0 6% 0; overflow: hidden; background: #f2f2f2; font-family: 'OpenSansRegular', arial; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
	div.tabs ul.tab li a:hover {background: #999999; color: #fff;}
	div.tabs ul.tab li a.selected {background: #666; color: #fff;}
	div.tabs div {float: left; width: 100%; height: 78%; padding-top: 2%; background: #fff;}
	
	/* table */
	div.tabs div table {width: 100%; text-align: left; font-size: 1em;}
	div.tabs div table thead tr {background: #666; color: #fff;}
	div.tabs div table thead tr th {padding: 1% 0 1% 0;}	
	div.tabs div table tbody tr:hover {background: #f2f2f2;}
	div.tabs div table tbody tr td {padding: 1% 0 1% 0;}
	div.tabs div table tbody tr td a {text-decoration: underline;}
	div.tabs div table tbody tr td a:hover {text-decoration: underline;}
	
	/* fieldset */
	div.tabs div fieldset.data1 {float: left; width: 49.5%;}
	div.tabs div fieldset.data2 {float: right; width: 49.5%;}
	div.tabs div fieldset.actions {float: left; width: 100%; padding-top: 1%; margin-top: 2%; border-top: solid 1px #f2f2f2;}

	@media only screen and (max-width : 550px) {
		div.tabs ul.tab li a {height: 80%; padding: 10% 0 10% 0;}
		div.tabs div fieldset.data1 {float: left; width: 100%;}
		div.tabs div fieldset.data2 {float: left; width: 100%;}
	}

/* ################## END:TABS ################## */


/* ################## START:DIALOGS ################## */

	/* table */
	div.dialog form fieldset table {width: 100%; height: 100%; text-align: left; margin-top: 10px; font-size: 1em;}
	div.dialog form fieldset table thead tr {background: #666; color: #fff;}
	div.dialog form fieldset table thead tr th {padding: 1% 0 1% 0;}	
	div.dialog form fieldset table tbody tr {cursor: pointer;}
	div.dialog form fieldset table tbody tr.selected {background: #b7dbff}
	div.dialog form fieldset table tbody tr:hover:not(.selected) {background: #f2f2f2;}
	div.dialog form fieldset table tbody tr td {padding: 1.5% 0 1.5% 0;}
	div.dialog form fieldset table tbody tr td input {display: none;}
	
	/* fieldset */
	div.dialog form fieldset.actions {border-top: solid 1px #cdcdcd; padding-top: 2%; margin-top: 2%;}
	div.dialog form fieldset.actions input {padding: 1%;}
	
	@media only screen and (max-width : 550px) {
		div.dialog form fieldset.actions input {padding: 3%;}
	}

/* end:dialog */

/* ################## END:DIALOGS ################## */


/* ################## START:BREAKPOINTS ################## */
	
	@media only screen and (max-width : 750px) {
		#standard {width: 92%;}
	}

/* ################## END:BREAKPOINTS ################## */