<!DOCTYPE html>
<html lang="en-US">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Acronym Search</title>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	</head>
	<body>

	    <div class="container" style="margin-top:10px;" data-ng-app="acronymApp" data-ng-controller="acronymCtrl">

	    	<div class="row">
	    		<div class="col-md-8 col-md-offset-2">

			    	<div class="jumbotron">
			    		<input type="text" ng-model="enteredValue">
						<button type="button" ng-Click="findValue(enteredValue)">Search</button>
						<p ng-repeat="result in results">Postcode: {{result.postcode}}<br />Owner: {{result.owner}}</p>
			    	</div>

			    </div>
			</div>

	    </div>

    <script src="acronymApp.js"></script>
	<script src="acronymController.js"></script>

	</body>
</html>